.step {
    margin-right: 10px;
}

.status {
    margin-top: 12px;
}

#map {
    height: 610px;
}

.settlement {
    font-size: 11px;
    margin-bottom: 0px;
}

#address-map {
    width: 100%;
    height: 400px;
    background: url('/assets/img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

#address-map img {
    max-width: none;
}

#address-map label {
    width: auto; display:inline;
}

.input-inline {
    height: 23px;
}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.nav .nav-pills li.required {
    opacity: 0.8;
}

