<form class="form-horizontal">
    <fieldset>
        <legend>Datos de la ficha (Paso {{ currentStep+1 }} de {{ steps.length }})</legend>
        <div class="form-group">
            <label for="inputSettlement" class="col-lg-2 control-label">Barrio / Villa / Complejo</label>
            <div class="col-lg-10">
                <select class="form-control" ng-model="resource.settlement">
                    <option ng-repeat="set in settlements" value="{{ set }}" ng-selected="resource.settlement == set">{{ set }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputInterviewee" class="col-lg-2 control-label">Nombre del entrevistado</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputInterviewee" placeholder="Nombre" ng-model="resource.interviewee.name">
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputIntervieweeSurname" placeholder="Apellido" ng-model="resource.interviewee.surname">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputIntervieweeTitle" placeholder="Cargo" ng-model="resource.interviewee.title">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-5 col-offset-2">
                <input type="text" class="form-control" id="inputIntervieweeTelephone" placeholder="Teléfono" ng-model="resource.interviewee.telephone">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="inputIntervieweeEmail" placeholder="Mail" ng-model="resource.interviewee.email">
            </div>
        </div>
    </fieldset>
</form>