<form class="form-horizontal" name="form">
    <fieldset>
        <legend>Dirección (Paso {{ currentStep+1 }} de {{ stepslength() }})</legend>
        <div class="form-group">
            <label for="inputAddress" class="col-lg-2 control-label">Dirección</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputAddress" placeholder="Calle" ng-model="resource.address.street">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-offset-2">
                <input type="text" class="form-control" id="inputAddressSector" placeholder="Sector" ng-model="resource.address.sector">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressSquare" placeholder="Manzana Nº" ng-model="resource.address.square">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressFloor" placeholder="Piso" ng-model="resource.address.floor">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressHouseNumber" placeholder="Casa Nº" ng-model="resource.address.houseNumber">
            </div>
            <div class="col-lg-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="resource.address.isMobile">
                        Es móvil
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddressDescription" class="col-lg-2 control-label">Descripción del lugar</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="inputAddressDescription" rows="3" placeholder="De ser necesaria para la identificación del lugar" ng-model="resource.address.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-5 col-offset-2">
                <input type="text" class="form-control" id="inputAddressDescriptionSide" placeholder="Lado" ng-model="resource.address.side">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="inputAddressDescriptionHallway" placeholder="Pasillo" ng-model="resource.address.hallway">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddressDescriptionObservations" class="col-lg-2 control-label">Observaciones</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="inputAddressDescriptionObservations" rows="3" placeholder="Observaciones" ng-model="resource.address.observations"></textarea>
            </div>
        </div>
        <div class="col-lg-2" class="form-group" style="text-align: right">
            <label class="control-label" style="margin-right: 10px">Ubicación exacta</label>
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group col-lg-12 pull-right" style="margin-right: -5px" ng-class="{'has-error': form.exampleAddressLatitude.$dirty && form.exampleAddressLatitude.$invalid}">
                        <input type="text" class="form-control"
                               id="exampleAddressLatitude" name="exampleAddressLatitude" placeholder="Latitud"
                               ng-model="resource.address.lat">
                    </div>
                    <div class="form-group col-lg-12 pull-right" style="margin-right: -5px" ng-class="{'has-error': form.exampleAddressLongitude.$dirty && form.exampleAddressLongitude.$invalid}">
                        <input type="text" class="form-control"
                               id="exampleAddressLongitude" name="exampleAddressLongitude" placeholder="Longitud"
                               ng-model="resource.address.lng">
                    </div>


                    <div class="form-group col-lg-12 pull-right" style="margin-right: -5px">
                        <button type="button" class="btn btn-default btn-small" ng-click="addMarker()">Ubicar coordenadas</button>
                    </div>
                </fieldset>
            </form>
            <p class="text-danger" ng-show="(form.exampleAddressLatitude.$dirty && form.exampleAddressLatitude.$error.required) || (form.exampleAddressLongitude.$dirty && form.exampleAddressLongitude.$error.required)">
                Es necesario determinar la locación del recurso. Puede hacerlo:<br/>
                A: ingresando una dirección válida<br/>
                B: indicando las coordenadas<br/>
                C: ubicándolo manualmente en el mapa
            </p>
        </div>
        <div class="col-lg-10" style="padding-left: 5px; padding-right: 0px;">
            <div id="address-map" style="width: 100%"></div>
        </div>
    </fieldset>
</form>