<form class="form-horizontal">
    <div class="well well-small">
        {{ resource | json }}
    </div>
    <fieldset>
        <legend>Dirección (Paso {{ currentStep+1 }} de {{ steps.length }})</legend>
        <div class="form-group">
            <label for="inputAddress" class="col-lg-2 control-label">Dirección</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputAddress" placeholder="Calle" ng-model="resource.address.street">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressNumber" placeholder="Altura" ng-model="resource.address.number">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressPlot" placeholder="ID Parcela" ng-model="resource.address.plot">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressSector" placeholder="Sector" ng-model="resource.address.sector">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-offset-2">
                <input type="text" class="form-control" id="inputAddressSquare" placeholder="Manzana Nº" ng-model="resource.address.square">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressFloor" placeholder="Piso" ng-model="resource.address.floor">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressHouseNumber" placeholder="Casa Nº" ng-model="resource.address.houseNumber">
            </div>
            <div class="col-lg-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="resource.address.isMobile">
                        Es móvil
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddressDescription" class="col-lg-2 control-label">Descripción del lugar</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="inputAddressDescription" rows="3" placeholder="De ser necesaria para la identificación del lugar" ng-model="resource.address.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-5 col-offset-2">
                <input type="text" class="form-control" id="inputAddressDescriptionSide" placeholder="Lado" ng-model="resource.address.side">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="inputAddressDescriptionHallway" placeholder="Pasillo" ng-model="resource.address.hallway">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddressDescriptionObservations" class="col-lg-2 control-label">Observaciones</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="inputAddressDescriptionObservations" rows="3" placeholder="Observaciones" ng-model="resource.address.observations"></textarea>
            </div>
        </div>
        <div class="col-lg-2">
            <label class="control-label">Ubicación exacta</label>
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group col-lg-12 pull-right" style="margin-right: -5px">
                        <button type="button" class="btn btn-default btn-small" ng-click="geocode()">Obtener de dirección</button>
                        <input type="text" class="form-control" id="exampleAddressLatitude" placeholder="Latitud" ng-model="resource.address.lat">
                        <input type="text" class="form-control" id="exampleAddressLongitude" placeholder="Longitud" ng-model="resource.address.lng">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-10" style="padding-left: 5px; padding-right: 0px;">
            <div id="address-map"></div>
        </div>
    </fieldset>
</form>