<form>
    <fieldset>
        <legend>Actividades de la organización (Paso {{ currentStep+1 }} de {{ steps.length }})</legend>
    </fieldset>
    <a data-toggle="modal" href="#activityModal" class="btn btn-primary btn-large" prevent-click>Launch demo modal</a>

    <!-- Modal -->
    <div class="modal fade" id="activityModal" ng-controller="ActivityController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Agregar nueva actividad</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <div class="col-12">
                                <label class="col-lg-12 control-label">Actividad</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Nº" ng-model="selectedCode" ng-change="codeEntered(selectedCode)">
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" ng-model="selectedTopic" ng-options="topic for topic in activityTypes.topics()" ng-change="topicChange()">
                                    </select>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" ng-model="selectedType" ng-options="type.name for type in activityTypes.types | filterByTopic:selectedTopic" ng-change="typeChange(selectedType)">
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 15px">
                                <div class="col-lg-4">
                                    <label class="control-label">Género</label>
                                    <select class="form-control">
                                        <option>M</option>
                                        <option>F</option>
                                        <option>Otro</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label">Cupo</label>
                                    <select class="form-control">
                                        <option>A: 1-5</option>
                                        <option>B: hasta 20</option>
                                        <option>C: más de 20</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label">Edad</label>
                                    <select class="form-control">
                                        <option>A: 0-4</option>
                                        <option>B: 5-6</option>
                                        <option>C: 7-13</option>
                                        <option>D: 14-17</option>
                                        <option>E: Adultos</option>
                                        <option>F: Tercera Edad</option>
                                        <option>G: Todas las Edades</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 15px">
                                <div class="col-lg-12">
                                    <label class="control-label">Día</label>
                                    <input type="text" class="form-control" placeholder="Ej: Lun a Vie; Mar y Sáb; Lun, Mar y Vie"/>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 15px">
                                <div class="col-lg-6">
                                    <label class="control-label">Frecuencia</label>
                                    <select class="form-control">
                                        <option>Semanal</option>
                                        <option>Quincenal</option>
                                        <option>Mensual</option>
                                        <option>Semestral</option>
                                        <option>Anual</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label">Horarios</label>
                                    <input type="text" class="form-control" placeholder="Ej: 17:30 a 18:30"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>