<form ng-controller="ActivityController" name="form">
    <fieldset>
        <legend>Actividades de la organización (Paso {{ currentStep+1 }} de {{ stepslength() }})</legend>
        <div class="alert alert-info" ng-show="resource.activities.length == 0">
            Aún no hay actividades agregadas para este recurso. <a href="#activityModal" class="btn btn-default btn-small" ng-click="newActivity()" prevent-click>Agregar nueva actividad</a>
        </div>
        <table class="table table-striped" ng-show="resource.activities.length > 0">
            <thead>
            <tr>
                <th style="text-align: center">Actividad</th>
                <th>Descripción</th>
                <th>Género</th>
                <th>Cupo</th>
                <th>Edad</th>
                <th>Día</th>
                <th>Frecuencia</th>
                <th>Horarios</th>
                <th><a href="#activityModal" class="btn btn-default btn-small" ng-show="resource.activities.length > 0" ng-click="newActivity()" prevent-click>Agregar nueva actividad</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in resource.activities">
                <td style="text-align: center"><a href="#" data-toggle="tooltip" title="" data-original-title="{{ a.code | activityName }}" data-placement="right" tooltip prevent-click>{{ a.code }}</a></td>
                <td>{{ a.description | truncate:35 }}</td>
                <td>{{ a.gender }}</td>
                <td>{{ a.quota }}</td>
                <td>{{ a.age }}</td>
                <td>{{ a.days | truncate:30 }}</td>
                <td>{{ a.frequency }}</td>
                <td>{{ a.hours | truncate:30 }}</td>
                <td>
                    <a class="btn btn-info btn-small" href="#" ng-click="edit(a.id)" prevent-click>Editar</a>
                    <a data-toggle="modal" href="#deleteModal" class="btn btn-danger btn-small" ng-click="setActivityToDelete(a.id)">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="form-group" style="margin-top: 15px"  ng-class="{'has-error': form.inputFunction.$dirty && form.inputFunction.$invalid}">
            <label for="inputFunction" class="col-lg-12 control-label">Función y actividad de la organización</label>
            <div class="col-lg-12">
                <textarea class="form-control" rows="3"
                          id="inputFunction" name="inputFunction" placeholder="Esta descripción de lo que realiza la organización aparecerá en un recuadro al cliquear el punto en el mapa."
                          ng-model="resource.function" required>
                </textarea>
                <span class="help-block" ng-show="form.inputFunction.$dirty && form.inputFunction.$error.required">Es necesario describir la función de la organización</span>
            </div>
        </div>
    </fieldset>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Eliminar actividad</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar la actividad?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" ng-click="delete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="activityModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" ng-click="closeModal()" prevent-click>&times;</button>
                    <h4 class="modal-title">Agregar nueva actividad</h4>
                </div>
                <div class="modal-body">
                    <form name="form">
                        <fieldset>
                            <div class="col-lg-12">
                                <label class="col-lg-12 control-label">Actividad</label>
                                <div class="col-lg-2" ng-class="{'has-error': form.inputCode.$dirty && form.inputCode.$invalid}">
                                    <input type="text" class="form-control"
                                           name="inputCode" placeholder="Nº"
                                           ng-model="activity.code" ng-change="codeEntered()" ng-pattern="/^([1-9]|[1-3][0-9]|4[0-8])$/">
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" ng-model="selectedTopic" ng-options="topic for topic in activityTypes.topics()" ng-change="topicChange()">
                                    </select>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" ng-model="selectedType" ng-options="type.name for type in activityTypes.types | filterByTopic:selectedTopic" ng-change="typeChange(selectedType)">
                                    </select>
                                </div>
                                <p class="text-danger" style="margin-left: 15px" ng-show="form.inputCode.$dirty && form.inputCode.$error.required">El código de actividad es requerido</p>
                                <p class="text-danger" style="margin-left: 15px" ng-show="form.inputCode.$dirty && form.inputCode.$error.pattern">Por favor, ingrese un código de actividad válido</p>
                                <div class="col-lg-12" style="margin-top: 5px">
                                    <textarea class="form-control" rows="3" placeholder="Descripción" ng-model="activity.description"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 15px">
                                <div class="col-lg-4">
                                    <label class="control-label">Género</label>
                                    <select class="form-control" ng-model="activity.gender">
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                        <option value="Mixto">Mixto</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label"># de participantes</label>
                                    <select class="form-control" ng-model="activity.quota">
                                        <option value="1-5">A: hasta 10</option>
                                        <option value="hasta 20">B: hasta 20</option>
                                        <option value="más de 20">C: más de 20</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label">Edad</label>
                                    <select class="form-control" ng-model="activity.age">
                                        <option value="0-4">A: 0-4</option>
                                        <option value="5-6">B: 5-6</option>
                                        <option value="7-13">C: 7-13</option>
                                        <option value="14-17">D: 14-17</option>
                                        <option value="Adultos">E: Adultos</option>
                                        <option value="Tercera Edad">F: Tercera Edad</option>
                                        <option value="Todas las Edades">G: Todas las Edades</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 15px">
                                <div class="col-lg-12">
                                    <label class="control-label">Día</label>
                                    <input type="text" class="form-control" ng-model="activity.days" placeholder="Ej: Lun a Vie; Mar y Sáb; Lun, Mar y Vie"/>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 15px">
                                <div class="col-lg-6">
                                    <label class="control-label">Frecuencia</label>
                                    <select class="form-control" ng-model="activity.frequency">
                                        <option value="Semanal">Semanal</option>
                                        <option value="Quincenal">Quincenal</option>
                                        <option value="Mensual">Mensual</option>
                                        <option value="Semestral">Semestral</option>
                                        <option value="Anual">Anual</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label">Horarios</label>
                                    <input type="text" class="form-control" ng-model="activity.hours" placeholder="Ej: 17:30 a 18:30"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" ng-click="closeModal(form)" prevent-click>Cancelar</a>
                    <a href="#" class="btn btn-primary" ng-click="save(form)" ng-hide="editing" ng-disabled="form.$invalid && !$formunchanged" prevent-click>Agregar actividad</a>
                    <a href="#" class="btn btn-primary" ng-click="update(activity.id, form)"  ng-disabled="form.$invalid && !$formunchanged" ng-show="editing" prevent-click>Guardar cambios</a>
                </div>
            </div>
        </div>
    </div>
</form>