<form>
    <fieldset>
        <legend>Tipo de la organización (Paso {{ currentStep+1 }} de {{ steps.length }})</legend>
        <div class="col-lg-6">
            <h4>Estatal</h4>
            <div class="checkbox col-lg-6" ng-repeat="type in organizationTypes.State" style="margin-top: -5px;">
                <label>
                    <input type="checkbox" value=""ng-model="type.checked">
                    {{ type.label }}
                </label>
            </div>
            <div class="checkbox col-lg-6" style="margin-top: -5px;">
                <label>
                    <input type="checkbox" value="">
                    Otra <input type="text" class="form-control" placeholder="Otra">
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>No Estatal</h4>
            <div class="checkbox col-lg-6" ng-repeat="type in organizationTypes.NonState" style="margin-top: -5px;">
                <label>
                    <input type="checkbox" value="">
                    {{ type.label }}
                </label>
            </div>
            <div class="checkbox col-lg-6" style="margin-top: -5px;">
                <label>
                    <input type="checkbox" value="">
                    Otra <input type="text" class="form-control" placeholder="Otra">
                </label>
            </div>
        </div>
    </fieldset>
</form>