<form class="form-horizontal">
    <fieldset>
        <legend>Dirección (Paso {{ currentStep+1 }} de {{ steps.length }})</legend>
        <div class="form-group">
            <label for="inputAddress" class="col-lg-2 control-label">Dirección</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputAddress" placeholder="Calle">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressNumber" placeholder="Altura">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressPlot" placeholder="ID Parcela">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressSector" placeholder="Sector">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-offset-2">
                <input type="text" class="form-control" id="inputAddressSquare" placeholder="Manzana Nº">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressFloor" placeholder="Piso">
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputAddressHouseNumber" placeholder="Casa Nº">
            </div>
            <div class="col-lg-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Es móvil
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddressDescription" class="col-lg-2 control-label">Descripción del lugar</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="inputAddressDescription" rows="3" placeholder="De ser necesaria para la identificación del lugar"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-5 col-offset-2">
                <input type="text" class="form-control" id="inputAddressDescriptionSide" placeholder="Lado">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="inputAddressDescriptionHallway" placeholder="Pasillo">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddressDescriptionObservations" class="col-lg-2 control-label">Observaciones</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="inputAddressDescriptionObservations" rows="3" placeholder="Observaciones"></textarea>
            </div>
        </div>
        <div class="col-lg-2">
            <label class="control-label">Ubicación exacta</label>
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group col-lg-12 pull-right" style="margin-right: -5px">
                        <input type="text" class="form-control" id="exampleAddressLatitude" placeholder="Latitud">
                        <input type="text" class="form-control" id="exampleAddressLongitude" placeholder="Longitud">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-10" style="padding-left: 5px; padding-right: 0px;">
            <div id="address-map"></div>
        </div>
    </fieldset>
</form>