<form class="form-horizontal" name="form">
    <fieldset>
        <legend>Datos de la ficha (Paso {{ currentStep+1 }} de {{ stepslength() }})</legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">Barrio / Villa / Complejo</label>
            <div class="col-lg-10" ng-class="{'has-error': form.selectSettlement.$dirty && form.selectSettlement.$invalid}">
                <select class="form-control" name="selectSettlement"
                        ng-model="resource.settlement" required>
                    <option ng-repeat="set in settlements" value="{{ set }}" ng-selected="resource.settlement == set">{{ set }}</option>
                </select>
                <span class="help-block" ng-show="form.selectSettlement.$dirty && form.selectSettlement.$error.required">El Barrio/Villa/Complejo es requerido</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputInterviewee" class="col-lg-2 control-label">Nombre del entrevistado</label>
            <div class="col-lg-4" ng-class="{'has-error': form.inputInterviewee.$dirty && form.inputInterviewee.$invalid}">
                <input type="text" class="form-control"
                       id="inputInterviewee" name="inputInterviewee" placeholder="Nombre"
                       ng-model="resource.interviewee.name" required>
                <span class="help-block" ng-show="form.inputInterviewee.$dirty && form.inputInterviewee.$error.required">El nombre del entrevistado es requerido</span>
            </div>
            <div class="col-lg-4" ng-class="{'has-error': form.inputIntervieweeSurname.$dirty && form.inputIntervieweeSurname.$invalid}">
                <input type="text" class="form-control"
                       id="inputIntervieweeSurname" name="inputIntervieweeSurname" placeholder="Apellido"
                       ng-model="resource.interviewee.surname" required>
                <span class="help-block" ng-show="form.inputIntervieweeSurname.$dirty && form.inputIntervieweeSurname.$error.required">El apellido del entrevistado es requerido</span>
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputIntervieweeTitle" placeholder="Cargo" ng-model="resource.interviewee.title">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-5 col-offset-2">
                <input type="text" class="form-control" id="inputIntervieweeTelephone" placeholder="Teléfono" ng-model="resource.interviewee.telephone">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="inputIntervieweeEmail" placeholder="Mail" ng-model="resource.interviewee.email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputInterviewer" class="col-lg-2 control-label">Nombre del entrevistador</label>
            <div class="col-lg-4" ng-class="{'has-error': form.inputInterviewee.$dirty && form.inputInterviewee.$invalid}">
    			<input type="text" class="form-control"
           			id="inputInterviewer" name="inputInterviewer" placeholder="Nombre"
           			ng-model="resource.interviewer.name" required>
    			<span class="help-block" ng-show="form.inputInterviewer.$dirty && form.inputInterviewer.$error.required">El nombre del entrevistador es requerido</span>
			</div>
    			<div class="col-lg-4" ng-class="{'has-error': form.inputIntervieweeSurname.$dirty && form.inputIntervieweeSurname.$invalid}">
                <input type="text" class="form-control"
                       id="inputInterviewerSurname" name="inputInterviewerSurname" placeholder="Apellido"
                       ng-model="resource.interviewer.surname" required>
                <span class="help-block" ng-show="form.inputInterviewerSurname.$dirty && form.inputInterviewerSurname.$error.required">El apellido del entrevistador es requerido</span>
            	</div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="resource.acceptsTaC">
                        ¿Consiente a la publicación de las actividades de su organización en una Guía/página Web de la SECHI?
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>