CACHE MANIFEST
CACHE:
# stylesheets
/assets/css/normalize.css
/assets/css/bootstrap.min.css
/assets/css/bootstrap-glyphicons.css
/assets/css/main.css
# javascripts
/assets/js/vendor/modernizr-2.6.2.min.js
/assets/js/md5.js
/assets/js/vendor/jquery-1.9.1.min.js
/assets/js/vendor/bootstrap.min.js
/assets/js/vendor/angular.min.js
/assets/js/controllers.js
/assets/js/directives.js
/assets/js/services.js
/assets/js/filters.js
/assets/js/app.js
# pages
/assets/partials/resource.html
/assets/partials/form/step0.html
/assets/partials/form/step1.html
/assets/partials/form/step2.html
/assets/partials/form/step3.html
/assets/partials/form/step4.html
/assets/partials/form/step5.html
NETWORK:
*
FALLBACK:
/assets/partials/map.html /assets/partials/map-offline.html